<div class="helpful-links-page">
  <div class="well helpful-links-page-well">
    <h4 class="links-title">General Programming Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "W3Schools", "http://www.w3schools.com", :target => "_blank" %></li>
      <li><%= link_to "Stack Overflow", "http://www.stackoverflow.com", :target => "_blank" %></li>
      <li><%= link_to "Bootstrap", "http://twitter.github.io/bootstrap/", :target => "_blank" %></li>
      <li><%= link_to "jsFiddle", "http://jsfiddle.net", :target => "_blank" %></li>
      <li><%= link_to "W3 Markup Validator", "https://validator.w3.org/", :target => "_blank" %></li>
      <li><%= link_to "Tormus Div Checker", "http://www.tormus.com/tools/div_checker", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">Rails Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "Railscasts", "http://www.railscasts.com", :target => "_blank" %></li>
      <li><%= link_to "Rails Forums", "https://railsforum.com", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">CSS And Design Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "CSS-Tricks", "http://www.css-tricks.com", :target => "_blank" %></li>
      <li><%= link_to "Responsive Design.is", "https://responsivedesign.is/", :target => "_blank" %></li>
      <li><%= link_to "Fontpair.co", "http://fontpair.co/", :target => "_blank" %></li>
      <li><%= link_to "Paletton.com", :target => "_blank" %></li>
      <li><%= link_to "ish.", "http://bradfrost.com/demo/ish/", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">Youtube Channels:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "The New Boston", "https://www.youtube.com/channel/UCJbPGzawDH1njbqV-D5HqKw", :target => "_blank" %></li>
      <li><%= link_to "Mackenzie Child", "https://www.youtube.com/channel/UCfWZwsP8trUy5uHJg8gcGIQ", :target => "_blank" %></li>
      <li><%= link_to "Dev Tips", "https://www.youtube.com/channel/UCyIe-61Y8C4_o-zZCtO4ETQ", :target => "_blank" %></li>
      <li><%= link_to "Treehouse", "https://www.youtube.com/channel/UCqHktcPJV7C7T3e9Cg4T4iw", :target => "_blank" %></li>
    </ul>
  </div>
</div>    