<div class="helpful-links-page">
  <div class="well helpful-links-page-well">
    <h4 class="links-title">General Programming Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "W3Schools", "http://www.w3schools.com", :target => "_blank" %></li>
      <li><%= link_to "Stack Overflow", "http://www.stackoverflow.com", :target => "_blank" %></li>
      <li><%= link_to "Bootstrap", "http://twitter.github.io/bootstrap/", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">Rails Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "Railscasts", "http://www.railscasts.com", :target => "_blank" %></li>
      <li><%= link_to "Rails Forums", "https://railsforum.com", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">CSS Sites:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li><%= link_to "CSS-Tricks", "http://www.css-tricks.com", :target => "_blank" %></li>
    </ul>

    <h4 class="links-title">Youtube Channels:</h4>
    <hr class="post">
    <ul class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>    