<div class="home-container">
  <div id="inner">        
    <div class="col-lg-12 blog_container">
      <% @posts.each do |post| %>
        <hr>
        <div class="blog_posts">
          <h1><%= post.title %></h1>

          <hr class="post">
          <div class="blogimages"> 
            <p><%= raw post.body %></p><%= link_to 'Read More', post, class: "btn-sm btn-primary" %></p>
            <p>
              Tags: <%= raw post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
            </p>
            <div class="blogcontrols">
              <p> 
                <i class="fa fa-clock-o"></i> Posted on <%= post.created_at.strftime("%m/%d/%Y") %>
              </p>
            </div>  
            
          </div><!-- blogimages-->    
          <div style="clear:both"></div>
          <br /> 
        </div><!-- blog_posts-->    
      <% end %>
      <p style="text-align:left;"><a href="#">Back To The Top</a></p>
    </div> <!-- col-lg-8--> 
  </div>    
  <div id="right-column"> 
    <div class="right-row-1">
      <ul class="right-list">
        <li class="twitter-link"><%= link_to image_tag('Twitter_logo_blue.png'), "http://www.twitter.com/tambe257", :target => "_blank" %></li>
        <li><%= link_to "mailto:tambe257@gmail.com" do %>
              <span class="glyphicon glyphicon-envelope"></span>
            <% end %>
        </li>
        <li><%= link_to image_tag('Octocat.jpg'), "http://www.github.com/tambe257" %></li>
      </ul>
    </div>  
    <div class="blog_wells">
      <div class="well blog_search">
        <h4>Blog Search</h4>
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search" id="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form> <!-- search -->        
      </div>
      <!-- /well -->
      <div class="well recent_posts">
        <h4>Recent Posts</h4>
        <div class="row">
          <div class="col-lg-10">
            <ul class="list-unstyled">
              <li>1 - <%= link_to truncate(@recent_posts[0].title, length: 30), @recent_posts[0] %>
              </li>

              </li>
            </ul>
          </div> 
        </div>
      </div>
      <!-- tag cloud -->
      <div class="well tags" id="tag_cloud">
        <h4>Tags</h4>
        <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>